.ja1{
    margin-top : -50px;
    margin-left: 40px;
    display: inline-block;
    
}

.ja2{
    margin-left: 20px;
    margin-top : -175px;
    display: inline-block;
}
.geslacht{
    margin-left: 145px;
    margin-top: -21px ;

}